html {
    background: url(фон.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 40px 10px;
    text-align: center;
    border: 3px solid #adc8dd;
    background-color: #e5eef5;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
}

label {
    font-size: 14px;
    padding-right: 200px;
}

input {
    width: 250px;
    height: 30px;
    padding-left: 8px;
    outline: none;
    border: 1px solid #adc8dd;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 12px;
}

button {
    width: 150px;
    height: 40px;
    border: 1px solid #adc8dd;
    background-color: #fff;
    transition: .3s;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    border: 1px solid #fff;
    background-color: #adc8dd;
}

#result {
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}